html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    color: black;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: white;
    box-shadow: 0 4px 8px rgb(6, 6, 6);
  }

.navbar-links {
    display: flex;
    gap: 1rem;
  }

.navbar-links button{
    background-color: white;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: none;
    display: inline-block;
    font-size: 16px;
}

.navbar-links button:hover{
    cursor: pointer;
    border-radius: 8px;
    width: auto;
    height: auto;
    background-color: gray;
}

.column {
    float:inline-start;
    width: 40%;
  }
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

div.about-Me{
    padding: 20px;
}