/* The overall background of the website*/
html{
    scroll-behavior: smooth;
    background-color: #212121;
   
}

/* Intro Div*/
.introDiv{
    margin-top: 50px;
    justify-content: center;
}

/* Everything else from the html*/
*{
    color: white;
    margin: 0;
    font-family: "Funnel Sans", sans-serif;
}

/* Navigation Bar */
.navbar {
    background-color: #1C1C1C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #93B7BE;
    box-shadow: 0 2px 4px rgb(6, 6, 6);
}

/* Navigation Bar Button colors and padding*/
.navbar-links button{
    background-color: #1C1C1C;
    color: #1C1C1C;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: none;
    display: inline-block;
    font-size: 20px;
}

/* Navigation Bar Buttons on hover */

.navbar-links button:hover{
    cursor: pointer;
    border-radius: 8px;
    width: auto;
    height: auto;
    background-color: rgb(73, 69, 69);
    font-size: 21px;
    transition: all 0.2s ease-in;
    
}

/* For rows and columns */

.row{
    display: inline-flexbox;
}

/* Floating Action Button */
.fab {
    position: fixed;
    bottom: 40px;
    z-index: 10;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #cf70ff;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(153, 23, 200, 0.672);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ;
    
}

/* Floating Action Button on hover */
.fab:hover {
    background-color: #cf70ff;
    box-shadow: 2px 2px 10px rgba(224, 138, 255, 0.672);
    width: 63px;
    height: 63px;
}

/* Default Color for new Buttons */
button{
    background-color: #93B7BE;
    border-radius: 8px;
    font-size: 25px;
    transition: 0.3s;
    padding: 8px;
}

/* TBD */
.item{
    justify-content: space-evenly;
}

.introPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 275px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #cf70ff;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #212121;
    color: white;
    padding-bottom: 20px; 
    
}
.header{
    margin-top: 15px;
    justify-content: center;
}