/* Background color of webpage */
html{
    background-color: #191919;
}
* {
    scroll-behavior: smooth;
    color: white;
    margin: 0;
    font-family: "Funnel Sans", sans-serif;
}

/* Navbar container */
.navbar > section{
    display: flex;
    align-items: center;
    justify-content: safe;
    padding: 16px;
    background-color: transparent; 
}

/* Navbar buttons */
.navbar button.navBtn {
    background-color: #191919;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

/* Hover effect */
.navbar button.navBtn:hover {
    background-color: #D05353;
    transform: background-color 0.3s, transform 0.2s;
}


.top-header{
    background-color: #D05353;
}

.name{
    display: flex;
}

/* Spacer */
.spacer{
    padding-right: 75%;
    display: flex;
    font-size: 14px;
}
