*{
    margin: 0;
    
}

body {
    background-color: #605B56;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ACC18A ;
    padding: 1rem;
    color: white;
  }

.navbar-links {
    display: flex;
    gap: 1rem;
  }

.navbar-links a{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.navbar-links a:hover{
    cursor: pointer;
    background-color: #605B56; 
    border-radius: 8px;
    width: auto;
    height: auto;
}