/* The overall background of the website*/
html{
    scroll-behavior: smooth;
    background-color: #212121;
}

/* Intro Div*/
.introDiv{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-block: 10px;
}

/* Everything else from the html*/
*{
    color: white;
    margin: 0;
    font-family: "Funnel Sans", sans-serif;
}

/* Navigation Bar */
.navbar {
    background-color: #1C1C1C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #93B7BE;
    box-shadow: 0 2px 12px rgb(6, 6, 6);
    position: sticky;
}

/* Navigation Bar Button colors and padding*/
.navbar-links button{
    background-color: #1C1C1C;
    color: #1C1C1C;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: none;
    display: inline-block;
    font-size: 20px;
}

/* Navigation Bar Buttons on hover */

.navbar-links button:hover{
    cursor: pointer;
    border-radius: 8px;
    width: auto;
    height: auto;
    background-color: rgb(73, 69, 69);
    font-size: 21px;
    transition: all 0.2s ease-in;
    
}

/* For rows and columns */

.row{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    padding: auto;
}

.col{
    display: flex;
    columns: 2px auto;
    padding: auto;
}

/* Floating Action Button */
.fab {
    position: fixed;
    bottom: 40px;
    z-index: 10;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #D62828;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(246, 244, 244, 0.794);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ;
    
}

/* Floating Action Button on hover */
.fab:hover {
    background-color: #D62828;
    box-shadow: 2px 2px 10px rgb(255, 255, 255);
    width: 63px;
    height: 63px;
}

/* Default Color for new Buttons */
button{
    background-color: #93B7BE;
    border-radius: 8px;
    font-size: 25px;
    transition: 0.3s;
    padding: 8px;
}


.introPic {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 275px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #dcdcdc;
}

.Grad_pic{
   margin-top: auto;
   position: fixed;
   bottom: 0;
   width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: auto;
    background: #212121;
    color: white;
    padding: 20px; 
    
}
.top-header{
    display: flex;
    background-color: #D62828;
    padding: 15px;
    justify-content: center;
    align-self: center;
}