html{
    scroll-behavior: smooth;
    background-color: #454545;
}

*{
    margin: 0;
    color: white;
    font-family: "Rubik", sans-serif;
}

.navbar {
    background-color: #93B7BE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #93B7BE;
    box-shadow: 0 4px 8px rgb(6, 6, 6);
  }

.navbar-links {
    display: flex;
    gap: 1rem;
    background-color: #93B7BE;
  }

.navbar-links button{
    background-color: #93B7BE;
    color: #93B7BE;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: none;
    display: inline-block;
    font-size: 20px;
}

.navbar-links button:hover{
    cursor: pointer;
    border-radius: 8px;
    width: auto;
    height: auto;
    background-color: rgb(117, 116, 116);
    font-size: 25px;
}

.row{
    display: flex;
    justify-content:flex-start;
    justify-content: center;
    gap: 40px;
}

div.about-Me{
    padding: 15px;
    padding-top: 100px;
}

.item{
    padding-left: 8px;
    justify-content: center;
}

button{
    background-color: #93B7BE;
    border-radius: 8px;
    font-size: 20px;
    transition: 0.3s;
}

button:hover {
    font-size: 30px;
}

